.bg-personalizado {
    background-color: #241d80;
}
.color-letras{
    color: aliceblue;
}
.color-letras:hover{
    color: aqua;
}
.color-letras:active{
    color: aquamarine;
}

body{
    background-image: url("../img/bgk.jpg");
    background-size: cover;
}